.info {
	text-align: center;
}

a {
	text-decoration: none; 
}

.container {
	width: 45vw;
	height: 45vw;
	margin: 0 auto;
}

	.square {
		float: left;
		text-align: center;
		width: 33%;
		height: 33%;
	}

	.square:hover {
		background: red;
	}

	.occupied:hover {
		background: none;
	}

		/* Center */
		.five {
			border: 1px solid #222;
		}

		/* Horizontal Lines */
		.four, .six {
			border: 1px solid #222;
			border-left: none;
			border-right: none;
		}

		/* Vertical Lines */
		.two, .eight {
			border: 1px solid #222;
			border-top: none;
			border-bottom: none;
		}




.scores {
	text-align: center;
}