.info {
	text-align: center;
}

h1 {
	font: 700 3em 'Oswald', sans-serif;
	margin: 10px;
	color: #434343;
}

h2 {
	font: 400 1.5em 'PT Mono', sans-serif;
	color: #434343;
}

.player {
	color: #e00000;
}

p {
	color: #434343;
}

a {
	text-decoration: none; 
	font: 400 8em 'PT Mono', sans-serif;
	color: #a2c4c9;
}

a:visited {
	color: #a2c4c9;
}

.container {
	text-align: center;
	width: 35vw;
	height: 35vw;
	margin: 0 auto;
	border-radius: 5%;
	overflow: hidden;
}

	.square {
		float: left;
		text-align: center;
		width: 32.86%;
		height: 32.86%;
		-webkit-transition: background 0.75s;
		-moz-transition: background 0.75s;
		-o-transition: background 0.75s;
		transition: background 0.75s;
		overflow: hidden;
	}

	.square:hover {
		background: #f3f3f3;
		-webkit-transition: background 1.5s;
		-moz-transition: background 1.5s;
		-o-transition: background 1.5s;
		transition: background 1.5s;
	}

	.occupied:hover {
		background: none;
		cursor: default;
	}

		/* Center Square */
		.five {
			border: 1px solid #ccc;
		}

		/* Horizontal Lines */
		.four, .six {
			border: 1px solid #ccc;
			border-left: none;
			border-right: none;
		}

		/* Vertical Lines */
		.two, .eight {
			border: 1px solid #ccc;
			border-top: none;
			border-bottom: none;
		}




.scores {
	text-align: center;
	font: 400 1em 'PT Mono', sans-serif;
	color: #434343;
}

	.points {
		color: #fff;
		background: #434343;
		padding: 3px;
		border-radius: 3px;
	}